<section id="admin-applicant-<%= @application.id %>">
  <%= render './layouts/shared/application_show' %>

  <h3>Pets:</h3><br>
<section style='<%='display:none' if @application.status=="In Progress"%>'>
  <p>Why I would make a good home for this pet or pets:</p>
  <p><%= @application.description %></p>
</section>


<section id="pet_applications">
  <h3>Pets</h3>
  <ul><% @application.pet_applications.each do |pet_application| %>
    <li id='pet-<%= pet_application.pet_id %>'>
      <%= link_to pet_application.pet.name, pet_path(pet_application.pet_id) %>
      <% if pet_application.status == "Pending"%>
        <%= pet_application.status %>
          <%= button_to "Approve Pet", admin_application_path(@application, pet: pet_application.pet_id, status: :approve), method: :patch %>
          <%= button_to "Reject Pet", admin_application_path(@application, pet: pet_application.pet_id, status: :reject), method: :patch %>
      <% elsif !pet_application.approvable? %>
        <span>No longer adoptable</span>
        <%= button_to "Reject Pet", admin_application_path(@application, pet: pet_application.pet_id, status: :reject), method: :patch %>
      <% end %></li>
  <% end %></ul>
</section>
