<section id="application-<%= @application.id %>">
  <h1><%= @application.name %></h1>
  <p><h4>Address:</h4>   <%= "#{@application.address}" %><br>
  <%= "#{@application.city}, #{@application.state} #{@application.zip_code}" %></h4></p>
  <p><h4>Adoption Request Description</h4> <%= @application.description %></p>
  <p><h4>Application Status</h4> <%= @application.status %></p>
</section>


    <% if @application.status == "In Progress" %>
  <section class="add-pet-app">
    <hr><h3>Add a Pet to this Application</h3>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
      <%= form.text_field :search %>
      <%= form.submit "Search" %>
      <% end %>
    <% end %>

    <% if @pets %>
      <% @pets.each do |pet| %>
        <%= pet.name %>
        <%= button_to "Adopt this Pet", "/applications/#{@application.id}?adopt_pet_id=#{pet.id}" %>
      <% end %>
    <% end %>
  </section>
