<section id="application-<%= @application.id %>">
  <%= render './layouts/shared/application_show' %>
  <h3>Pets:</h3><br>
  <%= render partial: "show_pets", locals: {application: @application} %>
</section>

<% if @application.status = "In Progress"%>
  <section class="add-pet-app">
  <%= render partial: "add_pets", locals: {application_id: @application.id} %>

  <% if @pets %>
  <%= render partial: "adopt_pets", locals: {pets: @pets, application_id: @application.id} %>
  <% end %>
</section>


<% if !@application.pets.empty? %>
<%= render partial: "submit", locals: {application_id: @application.id} %>
  <% end %>
<% end %>
