<h2><%= @shelter_information.name %></h2>
Location: <%= @shelter_information.city %></br>

<section id="statistics">
  <h3>Statistics</h3>
  <%= render partial: "statistics" %>
</section>

<section id='action_required'>
  <h3>Action Required</h3>
  <% @shelter.action_required_pets.each do |pet| %>
  <p><%= pet.name %>
    <% pet.applications_pending.each do |application| %>
      <%= link_to "Go to Application", "/admin/applications/#{application.id}" %></p>
    <% end %>
  <% end %>
